@import "./variables";


.canvas {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid black;
  background-color: white;
}

.input-block{
  margin: 0 auto;
}